<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Queue Room</title>
</head>
<body>
    <textarea id="queue-log" cols="100" rows="20"></textarea><br>
    <input id="name-input" type="text" size="100" placeholder="Name"><br>
    <input id="name-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const queueSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/queue/'
            + roomName
            + '/'
        );

        queueSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            document.querySelector('#queue-log').value += (data.name + '\n');
        };

        queueSocket.onclose = function(e) {
            console.error('Queue socket closed unexpectedly');
        };

        document.querySelector('#name-input').focus();
        document.querySelector('#name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#name-submit').click();
            }
        };

        document.querySelector('#name-submit').onclick = function(e) {
            const nameInputDom = document.querySelector('#name-input');
            const name = nameInputDom.value;
            queueSocket.send(JSON.stringify({
                'command': 'new_entry',
                'name': name
            }));
            nameInputDom.value = '';
        };
    </script>
</body>
</html>